<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true" stopOnError="false">
    <testsuites>
        <testsuite name="BE Application">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../module</directory>
            <exclude>
                <file>../module/Olcs/Db/Module.php</file>
                <file>../module/Api/src/Module.php</file>
                <directory>../module/Olcs/Db/config</directory>
                <directory>../module/Api/config</directory>
                <directory>../module/Olcs/Db/src/Service/CHXmlGateway</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>