<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test_bootstrap.php" colors="true" stopOnError="false">
    <testsuites>
        <testsuite name="Address">
            <directory>./module/Address</directory>
        </testsuite>
        <testsuite name="Cli">
            <directory>./module/Cli</directory>
        </testsuite>
        <testsuite name="Companies House">
            <directory>./module/CompaniesHouse</directory>
        </testsuite>
        <testsuite name="Email">
            <directory>./module/Email</directory>
        </testsuite>
        <testsuite name="Snapshot">
            <directory>./module/Snapshot</directory>
        </testsuite>
        <testsuite name="Api Domain">
            <directory>./module/Api/src/Domain</directory>
        </testsuite>
        <testsuite name="Api Entity">
            <directory>./module/Api/src/Entity</directory>
        </testsuite>
        <testsuite name="Api Service">
            <directory>./module/Api/src/Service</directory>
        </testsuite>
        <testsuite name="Api Misc">
            <directory>./module/Api/src/Assertion</directory>
            <directory>./module/Api/src/Controller</directory>
        </testsuite>
        <testsuite name="OLD Olcs">
            <directory>./module/Olcs</directory>
        </testsuite>
    </testsuites>
</phpunit>