<?php

return array(
    'cpms_api' => array(
        'logger_alias' => 'Zend\Log', //Zend logger service manager alias - use 'Logger' for the main OLCS log
        'identity_provider' => 'CpmsIdentityProvider', //Should implement CpmsClient\Authenticate\IdentityProviderInterface
        'enable_cache' => true,
        'cache_storage' => 'array',
        'rest_client' => array(
            'options' => array(
                'version' => 1, //CPMS API version to use
                'domain' => 'payment-service.psqa-ap01.ps.npm', // QA
                // 'domain' => 'payment-service.psdv-ap01.ps.npm', // DEV
                // 'domain' => 'payment-service.psdm-ap01.ps.npm', // Demo - uses Crapita gateway
            ),
        ),
    ),
    // auth - used by CpmsIdentityProvider service
    'cpms_credentials' => array(
        'user_id' => '1234',
        'client_id' => 'OLCS',
        'client_secret' => 'f7c3cd7d55c0dc0f3bcadc68d2867beedc28b463'
    )
);
