<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */
return array(
    'elastic_search' => array(
        'host'=> 'scdv-db02.sc.npm',
        'port'=> '9200'
    ),
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host' => 'localhost',
                    'port' => '3306',
                    'user' => 'olcs_be',
                    'password' => 'password',
                    'dbname' => 'olcs_be',
                )
            )
        )
    ),
    'companies_house_credentials' => array(
        'password'   => 'XMLGatewayTestPassword',
        'userId'     => 'XMLGatewayTestUserID'
    ),
    // Set the following if you need to go via a proxy to get to Companies House
    // 'companies_house_connection' => array(
    //    'proxy'      => 'proxy.gw.npm:80'
    // ),
    'jackrabbit' => array(
        'http' => array(
            'adapter' => 'Zend\Http\Client\Adapter\Curl'
        ),
        'client' => array(
            'baseuri' => 'http://scdv-ap05.sc.npm:8080/hcs',
            'uuid' => 'uD12345',
            'workspace' => 'olcs'
        ),
    ),
    'companies_house' => [
        'http' => [
            'sslcapath' => '/etc/ssl/certs',
            // insecure! should be set to true in production to verify SSL cert
            'sslverifypeer' => false,
            // Set the following if you need to go via a proxy to get to Companies House
            // 'adapter'    => 'Zend\Http\Client\Adapter\Proxy',
            // 'proxy_host' => 'fp01.inf.mgt.mtpdvsa',
            // 'proxy_port' => '3128',
        ],
        'auth' => [
            // Companies House API key
            // (register one at https://developer.companieshouse.gov.uk/)
            'username' => 'changeme',
            'password' => '',
        ],
        'client' => [
            'baseuri' => 'https://api.companieshouse.gov.uk/',
        ],
    ],
);
