<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'doctrine' => array(

        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host'     => 'localhost',
                    'port'     => '3306',
                    'user'     => 'olcs_be',
                    'password' => 'password',
                    'dbname'   => 'olcs_be',
                )
            )
        ),
    ),
    /*'service_manager' => array(
        'factories' => array(
            'Logger' => function ($sm) {
                $log = new \Zend\Log\Logger();

                /**
                 * In development / integration - we log everything.
                 * In production, our logging
                 * is restricted to \Zend\Log\Logger::ERR and above.
                 *
                 * For logging priorities, see:
                 * @see http://www.php.net/manual/en/function.syslog.php#refsect1-function.syslog-parameters
                 */
                $filter = new \Zend\Log\Filter\Priority(LOG_ERROR);

                // Log to sys log - useful if file logging is not working.
                $sysLogWriter = new \Zend\Log\Writer\Syslog();
                $sysLogWriter->addFilter($filter);
                $log->addWriter($sysLogWriter);

                return $log;
            },
        ),
    ),*/
);
